* text=auto
*.cs text eol=lf
*.xaml text eol=lf
*.csproj text eol=lf
*.props text eol=lf
*.targets text eol=lf
*.editorconfig text eol=lf
*.md text eol=lf
*.slnx text eol=lf
.gitattributes text eol=lf
.gitignore text eol=lf
